html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 270px;
}

main {
  padding-top: 56px;
}

.jumbotron-fluid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.overlap-container {
  margin-top: -7rem;
  background: white;
  position: relative;

  &> * {
    background: white;
    position: relative;
    z-index: 2;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
  }

}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.errors {
  display: block;
  color: #FF3B14;
}

.nav-link {
  white-space: nowrap;
}
