main {
  padding-top: 56px;
}

section {
  padding: 1.5em 0;
}

.pagination {
  justify-content: center;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.jumbotron-fluid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
